[Unit]
Desciption=IP Camera Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/IPCAM/app.py
WorkingDirectory=/home/pi/IPCAM
Restart=always


[Install]
WantedBy=multi-user.target

